#box1, #sliderbox
{
    width: 450px;
    text-align: center;
    background-color: #c3c3c3;
    padding:5px;
}
#sliderbox
{
    width: 400px;
    padding:30px;
    display:none;
   /* display:none; */
}
#box2
{
    width: 100px;
    height:100px;
    text-align: center;
    background-color: blue;
    color:white;
   
    position: absolute;
}