#headinghtml, #slidecontenthtml, #slidecontentcss,#headingcss
{
    background-color:cyan;
    padding:5px;
    text-align:center;
}
#slidecontenthtml, #slidecontentcss
{
    padding:50px;
    display:none;
}
#magicbox
{
    background-color: blue;
    color:white;
    text-align:center;
    padding:5px;
    width: 100px;
    height:100px;
    position:absolute;
}